
@page
@model IEnumerable<RipMyPaperToShreds.com.Models.Papers>

@{
    ViewData["Title"] = "MyPapers";
    Layout = "_Layout";
}

<h1>MyPapers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Draft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShrederId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Draft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paper)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShrederId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}